﻿@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title.</h2>
<h3>Opis naše aplikacije</h3>

<p>Aplikacija je napravljena u okviru projekta za završni rad.</p>
<p>
    U ovom poglavlju je prikazan razvoj Web aplikacije, koristeći Microsoftove MVC tehnologije. Aplikacija koju razvijamo zove se “ContactWeb”.
    ContactWeb aplikacija obezbeđuje jednostavan način da ljudi organizuju svoje kontakte, nesto nalik telefonskom imeniku. ContactWeb omogućuje registrovanim korisnicima da kreiraju, izmene i brišu svoje kontakte.
</p>
<center><img src="http://www.webexperts.com/web-experts/contact.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"></center>
<p>
    Kreiranje ContactWeb aplikacije počećemo startovanjem Microsoft Visual Studija 2015, zatim ćemo kreirati novi projekat, File > New Project.
    Otvoriće se “New Project”dijalog u kome ćemo odabrati “ASP.NET MVC Web Application”, gde ćemo i dati naziv projektu “ContactWeb”.
    Zatim odaberemo da se radi o MVC projektu, da bi nam Visual Studio olakšao posao i napravio automatski strukturu foldera i u njima dodao neke klase, koje naravno mi kasnije možemo menjati i preurediti.
</p>
<p> </p>
<p> </p>
<p> </p>
<h3>Zašto koristimo Microsoft ASP.NET MVC</h3>
<p>
    Korišćenjem ASP.NET MVC programske arhitekture omogućili smo lagani razvoj aplikacije zbog podele na modele (engl. Models), kontrolere (engl. Controller) i preglede (engl. View).
    Upravo tom podelom se ostvaruje višeslojnost i modularnost programskog koda, a samim tim se i pospešuje i lakša nadogradnja aplikacije u buducnosti.
</p>