﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Naša kontakt stranica</h3>

<address>
    ul. Sime Dinica br. 147<br />
    18250 Nis, Republika Srbija<br />
    <abbr title="Phone">Kontakt telefon:</abbr>
    425.555.0100
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:dusan1102@gmail.com">dusan1102@gmail.com</a>
</address>
<center><img src="http://inkedtranslations.com/wp-content/uploads/2014/12/kontakt.jpg" class="img-thumbnail" alt="Cinque Terre" width="100%" height="100%"></center>