﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ContactWeb Aplikacija</h1>
    <p class="lead">
        Aplikacija koju razvijamo zove se “ContactWeb”.
        ContactWeb aplikacija obezbeđuje jednostavan način da ljudi organizuju svoje kontakte, nesto nalik telefonskom imeniku. ContactWeb omogućuje registrovanim korisnicima da kreiraju, izmene i brišu svoje kontakte.
    </p>
    <center><img src="http://www.jogitechnosynopsis.com/images/about-us.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"></center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visoko tehnička škola Niš</h2>
        <p>
            Visoko tehnička škola strukovnih studija iz Niša je ugledna visokoškolska institucija sa 40 godina dugom tradicijom u visokom obrazovanju.
            U sklopu reforme visokog obrazovanja, škola je 2007. godine postala akreditovana samostalna državna ustanova koja ostvaruje osnovne strukovne i specijalističke studije
            u okviru naučnog polja tehničko-tehnoloških nauka.
        </p>
        <center><img src="http://www.vtsnis.edu.rs/image/logo_vts_40.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"></center>
        <p></p>
        <p><a class="btn btn-default" href="http://vtsnis.edu.rs/">Vidi jos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft ASP.NET MVC</h2>
        <p>MVC (engl. Model-View-Controller) je arhitektura u kojoj ne postoji jedna klasa kontroler koja prihvata i vraća HTML korisniku, nego se koristi skup klasa podeljenih u tri grupe: </p>
        <p>* Model - klasa koja definiše strukturu podataka koji će biti prikazani na stranici </p>
        <p>* View - komponenta zadužena da konvertuje C# objekte (model) u HTML </p>
        <p>* Kontroler - klasa koja prihvata zahtev korisnika i određuje šta treba da se uradi </p>
        </p>
        <center><img src="https://2.bp.blogspot.com/-gYbA4gk9U9k/VwzVzNzQrCI/AAAAAAAAAuY/bR7JTVVwytMAZvlHvZyWhHjssfqvDbGUACLcB/s1600/aspnetmvclogo.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"></center>
        <p></p>
        <p><a class="btn btn-default" href="https://www.asp.net/mvc">Vidi jos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Visual Studio</h2>
        <p>
            U Microsoft Visual Studi-u možemo programirati i u C, C++, Visual C++, Visual Basic, .NET i F#, C# programskom jeziku.
            Microsoft Visual Studio takođe podržava MUPS, Python, Ruby, XML, XSLT, HTML, XHTML, JavaScript i CSS. Sa učenjem npr C# se podrazumeva i učenje T-SQL, LINQ, ADO.NET, ASP.NET i drugih varijacija.
        </p>
        <center><img src="https://cdn2.unrealengine.com/blog/Apr15/VS2015_Banner-770x250-1323817617.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"></center>
        <p></p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com/downloads/">Vidi jos &raquo;</a></p>
    </div>
</div>